* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Amatic SC", cursive; */
  font-family: "Urbanist", sans-serif;
  font-size: 1.25rem;
}

.container {
  max-width: 1140px;
  padding-inline: 1rem;
  margin: 0 auto;
}

p {
  font-size: 0.775rem;
}
/* PALETA DE COLORES */

:root {
  --clr-brown: #4d2d18;
  --clr-brown-light: #8a5240;
  --clr-white-smoke: #caba9c;
  --clr-light-green: #4c6444;
  --clr-green: #102820;
  --clr-links: rgba(236, 233, 226, 0.925);
}

/* NAVBAR */
header {
  padding: 1.5rem;
  background-color: var(--clr-brown);
  background-image: linear-gradient(62deg, #8a5240 0%, rgb(51, 29, 11) 100%);
  max-width: 2400px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-productos,
.navbar-about {
  background-color: rgba(249, 252, 252, 0.103);
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding: 1.25rem;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
}

.navbar-cart {
  list-style: none;
}

.brand-img {
  width: 100%;
  height: 8rem;
  border: 2px solid rgba(0, 0, 0, 0.438);
  border-radius: 140px;
}

.brand-img:hover {
  transition: 0.4s;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
}

/* CART WIDGET */

.cart-widget {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 0.25fr;
  align-items: center;
  color: white;
  border-radius: 10px;
  padding: 0.45rem;
  gap: -10px;
  top: 15px;
}

.cw-img {
  width: 75px;
  background-color: var(--clr-links);
  border: 2px solid var(--clr-links);
  border-radius: 20px;
}

.cw-img:hover {
  transition: 0.4s;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
  background-color: rgba(236, 233, 226, 0.575);
}

.cw-number {
  position: relative;
  font-size: 1.2rem;
  right: -55px;
  top: -70px;
  display: grid;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #f96565;
  color: #fff;
  font-weight: 700;
}

.btns-nav {
  gap: 0.45rem;
}

.link-navbar {
  position: relative;
  margin-left: 20px;
  margin-right: 20px;
  padding: 1.25rem;
}
/* Hover - Links */
.link-navbar {
  color: rgba(236, 233, 226, 0.925);
}

.link-navbar::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: var(--clr-green);
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.link-navbar:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

/* HOME */
.home {
  background-color: var(--clr-white-smoke);
  padding: 10rem;
  text-align: center;
}

.h1-gral {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  padding: 20px;
}

/* PRODUCTOS - CARD */
.producto-card {
  border: 6px solid var(--clr-green);
  border-radius: 10px;
  background-color: var(--clr-white-smoke);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.producto-card div {
  padding: 1rem;
  background-color: var(--clr-main-light);
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.producto-card img {
  width: 100%;
  aspect-ratio: 2/1;
  object-fit: cover;
  border-bottom: 4px solid var(--clr-green);
}

.producto-card-name {
  font-family: "Amatic SC", cursive;
  font-size: 2rem;
}

.producto-card-name,
.producto-card-price {
  text-align: center;
}

.ver-mas-detalles {
  text-align: center;
  border: 2px solid var(--clr-green);
  border-radius: 24px;
  background-color: var(--clr-light-green);
  color: black;
}
.ver-mas-detalles:hover {
  transition: 0.3s;
  transform: scale(1.05);
}
/* PRODUCTOS */

.productos-display {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  padding-block: 2rem;
}

/* PRODUCT - DETAIL */
.producto-detail {
  border: 5px solid var(--clr-green);
  border-radius: 25px;
  align-items: center;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.5rem;
}

.info-detail > * {
  padding-top: 2rem;
}

.image-detail {
  border-radius: 20px;
  box-shadow: ;
}

/* ITEM COUNTER */
.item-count {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  margin-left: 3rem;
  border: 2px solid var(--clr-light-green);
  border-radius: 20px;
  padding: 0.45rem;
  padding-right: 1rem;
  padding-left: 1rem;
  background-color: var(--clr-light-green);
}

.item-count-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
}

.btn-item-count:hover {
  color: rgba(163, 101, 50, 0.719);
}

.btn-itemCount {
  border-radius: 40px;
  background-color: var(--clr-white-smoke);
  padding: 7.5px;
  padding-right: 0.8rem;
  padding-left: 0.8rem;
}
.btn-mas:hover {
  transition: 0.3s;
  background-color: #95f11c;
}
.btn-menos:hover {
  transition: 0.3s;
  background-color: #f03c0f;
}
.btn-mas {
  background-color: #b6e47b;
}
.btn-menos {
  background-color: #c95e43;
}
.btn-add-div {
  text-align: center;
}

.btn-add {
  border: 2px solid var(--clr-green);
  background-color: var(--clr-light-green);
  color: #ebe9e6;
  padding: 1.15rem;
  border-bottom-right-radius: 30px;
  border-top-left-radius: 30px;
}
.btn-add:hover {
  transition: 0.3s;
  background-color: #1b3a30;
}

.qty-number {
  color: white;
  font-size: 1.25rem;
}

/* LOADER */
.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loading-spinner {
  border: 4px solid rgba(184, 34, 34, 0.1);
  border-left-color: var(--clr-green);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
